<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People-driven web - Hello world</title>
  <meta name="description" content="People-driven web">
  <meta name="author" content="Afshin Mehrabani">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src='/js/nprogress.js'></script>
  <link rel='stylesheet' href='/css/nprogress.css'/>
</head>
<body>
  <div id="container" class="container"></div>
  <script type="text/javascript" src="/pw/route.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
  <script type="text/javascript" src="/js/pw.js"></script>

  <script type="text/javascript">
    pw.init();
  </script>
</body>
</html>
