<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People-driven web - Hello world</title>
  <meta name="description" content="People-driven web">
  <meta name="author" content="Afshin Mehrabani">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
  <div id="container" class="container"></div>
  <script src="/pw/route.js"></script>
</body>
</html>
