<div class="row">
  <div class="two-thirds column" style="margin-top: 25%">
      <h4>Author</h4>
      <p>I'm Afshin Mehrabani. <a href="http://afshinm.name" target="_blank">Blog</a> &nbsp; <a href="https://github.com/afshinm" target="_blank">Github</a> &nbsp; <a href="https://twitter.com/afshinmeh" target="_blank">Twitter</a></p>
      <p><a href="/" class="button button-primary">Home</a> &nbsp; <a href="/how-it-works" class="button button-primary">How it works?</a> &nbsp; <a href="/faq" class="button button-primary">FAQ</a> &nbsp; <a href="/author" class="button">Author</a> &nbsp;</p>  &nbsp; <a href="https://github.com/peopledrivenweb/pwjs" target="_blank" class="button button-primary">Github</a>
  </div>
</div>
