<div class="row">
  <div class="two-thirds column" style="margin-top: 25%">
      <h4>FAQ</h4>
      <p>

      <b>1) Is it free?</b><br>Yes, free and open-source.<p></p>
      <b>2) Can I use in production?</b><br>Not yet. It's beta and I'm working to improve it.<p></p>
      <b>3) How can I help?</b><br>Submit bugs and issues on Github. Buy me a coffee to address them.<p></p>

      </p>

      <p><a href="/" class="button button-primary">Home</a> &nbsp; <a href="/how-it-works" class="button button-primary">How it works?</a> &nbsp; <a href="/faq" class="button">FAQ</a> &nbsp; <a href="/author" class="button button-primary">Author</a> &nbsp;</p>  &nbsp; <a href="https://github.com/peopledrivenweb/pwjs" target="_blank" class="button button-primary">Github</a>
  </div>
</div>
