<div class="row">
  <div class="two-thirds column" style="margin-top: 25%">
      <h4>People-driven web</h4>
      <p><b>tldr;</b> This page came from the torrent network not HTTP server. <b>People-driven web</b> is an idea to use <i>both</i> clients and server to provide the content of a webpage. </p>
      <p><a href="/" class="button">Home</a> &nbsp; <a href="/how-it-works" class="button button-primary">How it works?</a> &nbsp; <a href="/faq" class="button button-primary">FAQ</a> &nbsp; <a href="/author" class="button button-primary">Author</a> &nbsp; <a href="https://github.com/peopledrivenweb/pwjs" target="_blank" class="button button-primary">Github</a></p>
  </div>
</div>
