<div class="row">
  <div class="two-thirds column" style="margin-top: 25%">
      <h4>How it works?</h4>
      <p><b>Pw.js</b> is a JavaScript framework based on Node.js. When you open a page, instead of loading the content from web server, <b>Pw.js</b> searches for the requested page on the torrent network and after finding the content, it renders the html file.</p>

      <p><b>Pw.js</b> is beta and using WebTorrent, page.js and Expressjs.</p>
      <p><a href="/" class="button button-primary">Home</a> &nbsp; <a href="/how-it-works" class="button">How it works?</a> &nbsp; <a href="/faq" class="button button-primary">FAQ</a> &nbsp; <a href="/author" class="button button-primary">Author</a> &nbsp; <a href="https://github.com/peopledrivenweb/pwjs" target="_blank" class="button button-primary">Github</a></p>
  </div>
</div>
